---
layout: default
title: Kevin Marx
---

<header class="page-header column x100">
  <div class="pillar wrapper group">
    <a href="/" class="column logo el"></a>
    <nav class="column right">
      <ul class="horizontal el">
        <li><a href="#" class="button no-style selected">Writings</a></li>
        <li><a href="#" class="button no-style">Projects</a></li>
        <li><a href="#" class="button no-style">Talks</a></li>
      </ul>
    </nav>
  </div>
</header>

{% include featurette.html post=site.posts.first %}

{% include article_list.html %}
