<article class="featurette group x100 wrapper" style="
  background: url(/images/posts/{{include.post.date | date: "%Y-%m-%d" }}/images/feature_01.jpg) -300px top no-repeat,
              url(/images/posts/{{include.post.date | date: "%Y-%m-%d" }}/images/feature_02.jpg) -300px 252px no-repeat,
              url(/images/posts/{{include.post.date | date: "%Y-%m-%d" }}/images/feature_03.jpg) -300px 502px no-repeat;"
  >
  <a href="{{ include.post.url }}" class="group pillar h100">
    <header class="column x100 px480 {{include.post.hero_contrast}}">
      <h1 class="column x100">{{ include.post.title }}</h1>
      <div class="column x100">
        <p class="column px320 x100 right">{{ include.post.excerpt }}</p>
      </div>
      <div class="column px320 x100 right">
        <span class="column">{{ include.post.date | date_to_string }}</span>
        <span class="column">{{ include.post.duration }} minute read</span>
      </div>
    </header>
  </a>


</article>
