<article class="featurette table x100" data-bkgimg="{{include.post.hero}}">
  <header class="cell x100 h100 va-middle {{include.post.hero_contrast}}">
    <a href="{{ include.post.url }}" class="group px480 center">
      {% if include.post.title %}
        <h1 class="js-bg-check">{{include.post.title}}</h1>
      {% endif %}
      <div class="column x100">
        <span class="column">{{ include.post.date | date_to_string }}</span>
        <span class="column right">{{ include.post.duration }} minute read</span>
      </div>
    </a>
  </header>

</article>
