<footer class="page-footer group">

  <section class="social column x100">
    <ul class="horizontal group pillar px320 x100 align-center">
      <li><a href="#"><span class="icon-2x icon-twitter"></span></a></li>
      <li><a href="#"><span class="icon-2x icon-github"></span></a></li>
      <li><a href="#"><span class="icon-2x icon-dribbble"></span></a></li>
    </ul>
  </section>

  <secton class="secondary-footer column x100 align-center">
    <ul class="horizontal group pillar px320">
      <li><span>Copyright {{ site.time | date: '%Y' }}</span></li>
      <li><a href="#">CV</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </secton>

</footer>
