<footer class="table px640 center wrapper">
  <a href="/feed.xml" class="btn-feed"><span class="icon icon-rss"></span></a>
  <nav class="cell x100 va-middle">
    {% case page.categories.first %}
    {% when 'writings' %}
      {% assign group = site.categories.writings %}
    {% when 'works' %}
      {% assign group = site.categories.works %}
    {% when 'projects' %}
      {% assign group = site.categories.projects %}
    {% when 'talks' %}
      {% assign group = site.categories.talks %}
    {% else %}
      {% assign group = site.posts %}
    {% endcase %}

    {% for post in group %}
      {% if post.title == page.title %}
          {% unless forloop.last %}
              {% assign next = group[forloop.index] %}
              <a href="{{ next.url }}" class="next column right x50 media">
                  <span class="icon icon-chevron-sign-right img right"></span>
                  <div class="bd align-right">
                    {{ next.title }}
                    {% if next.duration %}<small class="column x100">{{ next.duration }} minute read.</small>{% endif %}
                  </div>
              </a>
          {% endunless %}
          {% unless forloop.first %}
              <a href="{{ prev.url }}" class="prev column x50 media">
                  <span class="icon icon-chevron-sign-left img"></span>
                  <div class="bd">
                    {{ prev.title }}
                    {% if prev.duration %}<small class="column x100 right">{{ prev.duration }} minute read.</small>{% endif %}
                  </div>
              </a>
          {% endunless %}
      {% endif %}
      {% assign prev = post %}
    {% endfor %}
  </nav>
</footer>
