<footer class="table px640 center">
  <a href="#" class="btn-feed"><span class="icon icon-rss"></span></a>
  <nav class="cell x100 va-middle">
    {% for post in site.posts %}
        {% if post.title == page.title %}
            {% unless forloop.last %}
                {% assign next = site.posts[forloop.index] %}
                <a href="{{ next.url }}" class="next column right x50 media">
                    <span class="icon icon-chevron-sign-right img right"></span>
                    <div class="bd align-right">
                      {{ next.title }}
                      <small class="column x100">{{ next.duration }} minute read.</small>
                    </div>
                </a>
            {% endunless %}
            {% unless forloop.first %}
                <a href="{{ prev.url }}" class="prev column x50 media">
                    <span class="icon icon-chevron-sign-left img"></span>
                    <div class="bd">
                      {{ prev.title }}
                      <small class="column x100 right">{{ prev.duration }} minute read.</small>
                    </div>
                </a>
            {% endunless %}
        {% endif %}
        {% assign prev = post %}
    {% endfor %}
  </nav>
</footer>
