@font-face {
  font-family: 'klinic-slab';
  src: url('./fonts/klinicslabboldit-webfont.eot');
  src: url('./fonts/klinicslabboldit-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/klinicslabboldit-webfont.woff') format('woff'),
       url('./fonts/klinicslabboldit-webfont.ttf') format('truetype'),
       url('./fonts/klinicslabboldit-webfont.svg#klinic_slabbold_italic') format('svg');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'klinic-slab';
  src: url('./fonts/klinicslabbook-webfont.eot');
  src: url('./fonts/klinicslabbook-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/klinicslabbook-webfont.woff') format('woff'),
       url('./fonts/klinicslabbook-webfont.ttf') format('truetype'),
       url('./fonts/klinicslabbook-webfont.svg#klinic_slabbook') format('svg');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'klinic_slab';
  src: url('./fonts/klinicslabbookit-webfont.eot');
  src: url('./fonts/klinicslabbookit-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/klinicslabbookit-webfont.woff') format('woff'),
       url('./fonts/klinicslabbookit-webfont.ttf') format('truetype'),
       url('./fonts/klinicslabbookit-webfont.svg#klinic_slabbook_italic') format('svg');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'klinic_slab';
  src: url('./fonts/klinicslablightit-webfont.eot');
  src: url('./fonts/klinicslablightit-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/klinicslablightit-webfont.woff') format('woff'),
       url('./fonts/klinicslablightit-webfont.ttf') format('truetype'),
       url('./fonts/klinicslablightit-webfont.svg#klinic_slablight_italic') format('svg');
  font-weight: 300;
  font-style: normal;

}
