// HTML5 Element resets
// These are layout only default browser resets

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
    display: block;
}

// Corrects inline-block not defined in IE6/7/8 and FF3
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

// Ensures content is hidden from all presentations, including screenreaders
[hidden] {
    display: none;
    visibility: hidden;
}

