// page nav and header

@import "modules/buttons";
@import "modules/typography";

#Main { background-color: white; }

img { display: block; }

span.icon { font-family: 'FontAwesome'; }

.gray {
  background: $ltGray;
}

.center {
  margin: 0 auto;
}

a {
  @include transition(all, 150ms, linear, 0)
}

p { font-family: $default-font-family; font-weight: 400; }

a, span, .button {
  @include font-size(11);
  font-family: $accent-font-family;
  font-weight: 600;
}

.page-header {
  background-color: $lt;
  font-family: $accent-font-family;
  text-transform: uppercase;
  border-top: $pad solid $dk;

  .logo {
    background: url("/images/#{$color}/logo.png") no-repeat center;
    width: 180px;
    height: 41px;
    display: block;
    position: relative;
    top: -$pad;
  }
}

.featurette {
  background-color: $lt;
  background-size: cover;
  background-repeat: none;
  background-position: center top;
  height: 757px;

  header {
    margin: 0 auto;
    text-align: center;

    a {
      padding: $pad*2.5;

      h1 {
        padding: $pad*5;
        @include font-size(62);
        font-family: $default-font-family;
        font-weight: 600;
      }

      span {
        @include font-size(16);
      }

      h1, span {
        @include transition(color, 200ms, linear, 0)
      }

    }

    &.dark {
      a {
        color: $lt;
        &:hover, &:focus {
          h1 {
            color: lighten($lt, 10%);
            border-color: lighten($lt, 10%);
          }

          span { color: lighten($lt, 10%); }
        }

        h1 {
          color: $lt;
          border-top: 2px solid $lt;
          border-bottom: 2px solid $lt;
        }

        span { color: $lt; }
      }
    }
    &.light {
      a {
        color: $dk;
        &:hover, &:focus {
          h1 {
            color: darken($dk, 10%);
            border-color: darken($dk, 10%);
          }

          span { color: darken($dk, 10%); }
        }

        h1 {
          border-top: 2px solid $dk;
          border-bottom: 2px solid $dk;
          color: $dk;
        }

        span { color: $lt; }
      }
    }
    &.complex {
      a {
        color: $ltGray;

        &:hover, &:focus {
          h1 {
           color: darken($ltGray, 10%);
           border-color: darken($ltGray, 10%);
          }

          span { color: darken($ltGray, 10%); }
        }

        h1 {
          border-top: 2px solid $ltGray;
          border-bottom: 2px solid $ltGray;
          color: $ltGray;
        }

        span { color: $lt; }
      }
    }
  }
}

.article-list {
  padding-top: $pad*18.75;
  padding-bottom: $pad*22.5;

  > div > span {
    color: $dkGray;
    @include font-size(21);
    padding: $pad*1.5;
    font-family: $default-font-family;
    font-weight: 400;
    font-style: italic;
    position: relative;
    top: -15px;
  }

  ul {
    li {
      a {
        border: 1px solid #dedede;
        border-radius: $pad;
        padding: 25px;
        color: $text;
        @include transition(all, 200ms, linear, 0);

        &:hover, &:focus {
          background: white;
          box-shadow: $subtle-shadow;
        }

        img {
          max-height: 138px;
        }

        h1 {
          color: $dkGray;
          @include font-size(34);
          font-family: $default-font-family;
        }

        h2 {
          font-weight: 400;
          font-style: italic;
          @include font-size(14)
        }

        p {
          @include font-size(18);
          max-height: 55px;
          overflow: hidden;
        }
      }
    }
  }
}

.page-footer {
  background: $lt;
  color: $dk;
  ul {
    padding-top: $pad*3.5;
  }

  .social {

    li { margin: 0 $pad*4; }

    span {
      font-family: 'FontAwesome';
      @include font-size(28);
    }
  }

  .secondary-footer {
    color: $lt;
    background: $dk;

    a {
      display: block;
      color: $lt;

      &:hover {
        color: lighten($lt, 15%);
      }
    }

    li {
      padding: 0 $pad*2;
      border-left: 1px solid lighten($dk, 10%);

      &:first-child {
        border-left: none;
      }
    }
  }
}

ul.horizontal {
  li {
    display: inline-block;
    list-style: none;
  }
}

// posts
.post {
  font-family: $default-font-family;

  .feature-img {
    height: 587px;
  }

  header {
    padding-top: $pad*12.5;
    margin-bottom: $pad*6.25;

    h1 {
      @include font-size(68);
      line-height: 1.25;
      font-family: $default-font-family;
    }

    .meta {
      margin-bottom: $pad*2.5;
      color: #6f7479;

      * {
        @include font-size(16);
        font-family: $accent-font-family;
        font-weight: 400;
      }
    }
  }

  .post-body {
    margin-bottom: $pad*25;

    h1 { @include font-size(48); }

    h2 { @include font-size(32); }

    h3 { @include font-size(24); font-style: italic; }

    p, li, a {
      @include font-size(24);
      font-weight: 400;
      line-height: 1.8;
      font-family: $default-font-family;

      > code {
        background: #f8f8f8;
        border: 1px solid #ddd;
        padding: $pad;
        border-radius: $pad;
        font-family: $code-family;
        font-weight: normal;
        @include font-size(16)
      }
    }

    a {
      color: #6f7479;

      &:hover {
       text-decoration: underline;
      }
    }

    p { margin-bottom: 1em; }

    pre {
      background: #f8f8f8;
      border: 1px solid #ddd;
      padding: $pad*4;
      border-radius: $pad;
      margin: $pad*6 0;

      span {
        font-family: $code-family;
        @include font-size(12);
        font-weight: normal;
      }
    }
  }

  footer {
    border-top: 1px solid #cbcbcb;
    position: relative;
    height: 100px;
    margin-bottom: 75px;

    a {
      font-weight: 400;
      @include font-size(18);
      color: #6f7479;

      span {
        @include font-size(28);
        margin: 0 $pad*2;
        position: relative;
        top: $pad;

        &.img {
          margin-right: 20px;
        }
      }

      &:hover {
        color: $dk;
      }
    }

    .btn-feed {
      position: absolute;
      top: -16px;
      left: 49%;
      border: 1px solid #cbcbcb;
      border-radius: 20px;
      padding: 3px 6px 5px 8px;
      background: white;
      span {
        @include font-size(16);
        position: static;
        margin: 0;
      }

      &:hover {
        background: $lt;
        color: $dk;
      }
    }
  }
}
