// page nav and header
@import "modules/buttons";
@import "modules/typography";

p { font-family: $default-font-family; font-weight: 400; }

&.homepage {
  a, span, .button {
    @include font-size(8);
    font-family: $accent-font-family;
    font-weight: 600;
  }

  .page-header {
    background-color: $lt;
    font-family: $accent-font-family;
    text-transform: uppercase;
    border-top: $pad solid $dk;

    .logo {
      background: url("/images/#{$color}/logo.png") no-repeat center;
      width: 180px;
      height: 41px;
      display: block;
      position: relative;
      top: -$pad;
    }
  }

  .featurette {
    background-color: $lt;
    height: 500px;

    header {
      margin: 20% auto 0;
      text-align: center;

      h1 {
        padding: $pad*5;

        a {
          @include font-size(26);
          font-family: $default-font-family;
        }
      }

      &.dark {
        h1 {
          border-top: 2px solid $lt;
          border-bottom: 2px solid $lt;
        }
        a, span { color: $lt; }
      }
      &.light {
        h1 {
          border-top: 2px solid $dk;
          border-bottom: 2px solid $dk;
          color: $dk;
        }
        a, span { color: $lt; }
      }
      &.complex {
        h1 {
          border-top: 2px solid $ltGray;
          border-bottom: 2px solid $ltGray;
          color: $ltGray;
        }
        a, span { color: $lt; }
      }
    }
  }
}

ul.horizontal {
  li {
    display: inline-block;
    float: left;
    list-style: none;
  }
}
