// Web Design is 99% Typography.

// Base Type styles using REM at a root scale of 62.5% (~10px) ----------------------//

* { -webkit-font-smoothing: antialiased; }

html { font-size: 62.5%; }

body {
  color: $dk;
  @include font-size(14);
}

p { @include use-rems(margin-bottom, 14); }

// HEADINGS
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-bottom: $pad;
  small { @include font-size(10); color: #ccc; line-height: 0; }
}


hr { border: solid #cbcbcb; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0; }

em, i { font-style: italic; line-height: inherit; }
strong, b { font-weight: $bold; line-height: inherit; }
small { @include font-size(10); line-height: inherit; }

// Links ----------------------//

a, a:visited { color: $dk; text-decoration: none; }
a:hover { color: lighten($dk, 15%); }
a:focus { outline: none; }

// Better CSS outline suppression: people.opera.com/patrickl/experiments/keyboard/test
a:hover, a:active { outline: none; }

// Lists ---------------------- //

ol, ul { line-height: 1.6; @include use-rems(margin-bottom, 14); @include use-rems(margin-left, 25); list-style-position: outside; }
ol ol, ul ul { margin-bottom: 0; }
ul {
  ul { list-style: outside; }

  &.square {
    @include use-rems(margin-left, 10);
    list-style-type: square;

    ul { list-style: inherit; }
  }

  &.no-bullet { list-style: none; }
  &.large li { line-height: 21px; }
}

// Marked/inserted/deleted text ------------------//

mark { background: #ff9; }
ins { text-decoration: none; background: #ff9; }
del { text-decoration: line-through; }

//Preformatted text and code -----------------//

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre, code, kbd, samp { font-family: Menlo, Consolas, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace; }
pre code { border: none; }
code, kbd, samp {
  padding: 0 $pad;
  background: $ltGray;
  border: 1px solid $dkGray;
  border-radius: $pad*0.75;
  @include font-size(12);
}


// Blockquotes ---------------------- //
blockquote, blockquote p { line-height: 1.5; color: #6f7479; }
blockquote { margin: 0 0 1rem; padding: 9px 20px 0 19px; border-left: 1px solid #cbcbcb;
  cite { display: block; @include font-size(6); color: #52585f;
    &:before { content: "\2014 \0020"; }
    a, a:visited { color: $dk; }
  }
}

abbr, acronym { color: #6f7479; border-bottom: 1px dashed #cbcbcb; cursor: help; }
abbr { text-transform: none; }


// Font weight helper classes can be put on any element to modify the font weight for that element.

.light { font-weight: $light-it; }
.regular { font-weight: $normal; }
.italic { font-weight: $normal-it; }
.bold-it { font-weight: $bold-it; }

// Cheap and dirty alignment classes

.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

// Cleanly separated links. Can be used with a combination of <code>p span</code> or <code>ul li</code>.

.link-list {
  span, li {
    display: inline;

    &:after { content: " \00b7"; }
    &:last-child:after { content: "" }
  }
}
ul.link-list { list-style: none; margin-left: 0; }

