
$dk: #cc6044;
$lt: #571d03;

$white: #fff;
$ltGray: #f9fbfa;
$ltGray1: #f2f2f2;

$dkGray: #212229;
$text: #515151;

$default-font-family: "klinic-slab", Georgia, serif;
$accent-font-family: "raleway", "Helvetica Neue", Verdana, sans-serif;
$code-family: Menlo, Consolas, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;

$pad: 4px;

//Font Weights
$light-it: 300;
$normal: 400;
$normal-it: 500;
$bold-it: 700;

//Box-shadows
$subtle-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
$subtle-inset-shadow: inset 0 0 4px rgba(0,0,0,0.25);
$dark-inset-shadow: inset 0 0 6px rgba(0,0,0,0.25);
$drow-shadow: inset 0 -8px 8px -8px rgba(0, 0, 0, 0.25), inset 0 8px 8px -8px rgba(0,0,0,0.25);
$input-shadow: inset 0 2px 2px -1px rgba(0, 0, 0, 0.15);
$select-shadow: inset  0 -2px 2px -2px #fff, 0 1px 1px -1px rgba(0, 0, 0, 0.25);
