---
layout: default
---
{% include masthead.html selected=page.categories.first %}

<article class="post group">
  <div class="feature-img group" style="background: url('/images/posts/{{page.date | date: "%Y-%m-%d" }}/hero.jpg') no-repeat center center"></div>

  <header class="px640 center group">
    <div class="meta">
      <time datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
      <span class="duration column right">{{ page.duration }} minute read.</span>
    </div>
    <h1>{{ page.title }}</h1>
  </header>

  <section class="post-body px640 center group">
    {{ content }}
  </section>

  {% include post_footer.html %}

  <script> window.currentColor = 'gray' </script>

</article>
